*{
  margin: 0;
  padding: 0;
}
#root {
  max-width: 1900px;
  margin: 0 auto;
  padding: 10px 320px;
}
@media screen and (max-width : 1500px){
  #root {
    max-width: 96%;
    padding: 10px 120px;
  }
}
@media screen and (max-width : 600px){
  #root {
    max-width: 96%;
    padding: 10px 0px;
  }
}



